<footer class="2xl:px-20 lg:px-16 md:px-10 px-2 mb-4 mt-10">
    <div class="bg-black/90 rounded-2xl p-10">
        <div class="max-w-[1480px] mx-auto">
            <div class="mt-10 flbx">
                <div>
                    <h1 class="text-6xl font-semibold text-white">Ready to Work with us?</h1>
                    <p class="mt-4 text-xl text-white/90">Enterprise top notch guiding service and let us help on your property journey</p>
                </div>
                <div>
                    <h2>Contact Us</h2>    
                </div>
            </div>
            <hr class="w-full border-t border-t-white/10 my-10"/>
    
            <div class="flex items-start justify-between">
                <div class="max-w-[460px]">
                    <a routerLink="/" class="fl gap-2">
                        <img src="/assets/images/logo.png" alt="Logo" class="h-10">
                        <h2 class="text-3xl font-semibold text-emerald-400">Living Edge</h2>
                    </a>
                    <p class="mt-4 text-white/80">A cutting edge real estate agent that offers seamless and immense experience to find your dream property</p>
                    <div class="mt-8 relative">
                        <input placeholder="Write your Email" type="email" class="py-3 px-3 outline-none rounded-xl bg-transparent border border-white/30 w-full text-white pr-32 focus:border-white/50 tr"/>
                        <button class="absolute right-[5px] top-1/2 -translate-y-1/2 bg-white/80 hover:bg-white tr py-2 px-7 rounded-lg font-medium">Submit</button>
                    </div>
                </div>
                <div class="max-w-[680px] w-full grid grid-cols-3 gap-10">
                    <div class="flex flex-col gap-2">
                        <h2 class="text-white font-medium mb-2">Home</h2>
                        <a class="text-white/80">Proeprty List</a>
                        <a class="text-white/80">Agent</a>
                        <a class="text-white/80">About Us</a>
                        <a class="text-white/80">Contact Link</a>
                    </div>
                    <div class="flex flex-col gap-2">
                        <h2 class="text-white font-medium mb-2">Security</h2>
                        <a class="text-white/80">Privacy Policy</a>
                        <a class="text-white/80">Client Agreement</a>
                        <a class="text-white/80">Copyright</a>
                    </div>
                    <div class="flex flex-col gap-2">
                        <h2 class="text-white font-medium mb-2">Social Media</h2>
                        <a class="text-white/80">Fcebook</a>
                        <a class="text-white/80">Instagram</a>
                        <a class="text-white/80">Twitter</a>
                    </div>
                </div>
            </div>
            
            <span class="text-white/60 text-sm mt-20 flex justify-center">All rights reserved to &copy;2024 CM Estate</span>
        </div>
    </div>
</footer>
