<nav class="cm-nav h-24">
    <div class="2xl:px-20 lg:px-16 md:px-10 px-2 mx-auto h-full flbx">
        <a routerLink="/" class="fl gap-2">
            <img src="/assets/images/logo.png" alt="Logo" class="h-10">
            <h2 class="text-3xl font-semibold text-black/80">Living <span class="font-bold">Edge</span></h2>
        </a>
        <div class="fl gap-16">
            <ul class="fl lg:gap-12 md:gap-10 font-medium">
                <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
                <li><a routerLink="/properties" routerLinkActive="active">Propery</a></li>
                <li><a routerLink="/agent" routerLinkActive="active">Agent</a></li>
            </ul>
            <a routerLink="/contact-us">
                <button class="btn btn-primary">
                    Contact Us
                </button>
            </a>
        </div>
    </div>
</nav>