<section class="2xl:px-20 lg:px-16 md:px-10 px-2 my-24" id="features">
    <div class="container">
      <div class="flex gap-20">
        <h2 class="max-w-[720px] text-6xl font-semibold text-black/85">
          Your Trusted Real Estate Advisor
        </h2>
        <p class="max-w-[620px] text-xl mt-4 text-black/70">
          A cutting-edge real estate agent that offers you personalized recommendations: Tailored property suggestions based on your preferences and lifestyle.
        </p>
      </div>
    </div>
</section>