<section class="2xl:px-20 lg:px-16 md:px-10 px-4 my-24" id="projects">
    <div class="container bg-black/85 rounded-2xl p-20">
        <h2 class="text-center text-6xl font-medium text-white">International Property Network</h2>
        <p class="text-white/80 mt-6 max-w-[920px] mx-auto text-xl text-center">Our global reach opens a door to your exclusive properties and provides you the interantional real estate landcape</p>
    
    <div class="mt-20">
        <component-map/>
    </div>
    </div>
</section>
